
@{
    ViewBag.Title = "Category";
}



    <body>
        <h2>Category</h2>

        <div>
            Le Category @ViewData["Name"] a bien été trouvé et a @ViewData["Years"] ans.
        </div>
    </body>