<body>

    
    <table>
        <tr>
            <th>Name</th>
            <th>Years</th>
        </tr>
        @foreach (PhotoGalery.Models.Category category in ViewData["Categories"] as List<PhotoGalery.Models.Category>)
        {
            <tr>
                <td>@category.Name</td>
                <td>@category.Years</td>

            </tr>
        }
    </table>
       
</body>